@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Gestor"))
    {
        <h1>Configurações Gerais</h1>
        <tr></tr>
    }
}




<div class="text-start">
    <ul class="nav nav-pills flex-column mb-auto">


        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Gestor"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Empresas" asp-action="Index">Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Pontos" asp-action="Index">Cadastro de Turno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Funcionarios" asp-action="Index">Colaboradores</a>
                </li>
                
               
            }
        }
    </ul>
</div>

@if (User.Identity.IsAuthenticated)
{
    
    
    @if (User.IsInRole("Funcionario"))
    {
        <h1 class="especial">Olá, @User.Identity.Name!</h1>

        <h5><a class="nav-link text-dark" asp-area="" asp-controller="RegistraPontos" asp-action="Index">Acessar meus Registros</a></h5>
        <hr />

        <div class="container-lg p-3 text-center">
            <img class="w-50" src="~/Images/logomarca.png" alt="" />
        

        </div>
           
        
      
    }
}