################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/sistema-de-ponto/Arquivos
/src/.vs/sistema-de-ponto/DesignTimeBuild/.dtbcache.v2
/.vs/pmv-ads-2023-1-e2-proj-int-t6-projeto-controle-de-ponto/v17/.wsuo
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.dll
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.pdb
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.Views.dll
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.Views.pdb
/src/.vs/sistema-de-ponto/v17/.suo
/src/sistema-de-ponto/obj/Debug/net5.0/sistema-de-ponto.csproj.CoreCompileInputs.cache
/src/sistema-de-ponto/obj/Debug/net5.0/sistema-de-ponto.dll
/src/sistema-de-ponto/obj/Debug/net5.0/sistema-de-ponto.pdb
/src/sistema-de-ponto/obj/Debug/net5.0/sistema-de-ponto.Views.dll
/src/sistema-de-ponto/obj/Debug/net5.0/sistema-de-ponto.Views.pdb
/src/.vs/sistema-de-ponto/DesignTimeBuild/.dtbcache.v2
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.Views.pdb
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.Views.dll
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.pdb
/src/sistema-de-ponto/bin/Debug/net5.0/sistema-de-ponto.dll
/src/.vs/sistema-de-ponto/v17/.futdcache.v2
