################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/sistema-de-ponto/Arquivos
/src/.vs/sistema-de-ponto/DesignTimeBuild/.dtbcache.v2
