@model sistema_de_ponto.Models.Funcionario

@{
    ViewData["Title"] = "Login";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-danger">
        @ViewBag.Message
    </div>
}
<section class="container-fluid d-flex justify-content-end p-0" style="">
<div class="container-lg p-3 text-center">
        @if (User.IsInRole("Gestor,Funcionario"))
        {
            <div>
                <img class="w-75" src="~/Images/logomarca.png" alt=""/>
            </div>
        }
        <p class="especial">
            Apontei Gestão de Ponto é um sistema moderno e eficiente de controle de frequência e gestão de horários desenvolvido para empresas de todos os portes. Com nossa solução, você pode simplificar e automatizar o processo de registro de ponto, melhorar a precisão e a confiabilidade dos dados e otimizar a gestão de tempo de sua equipe.
        </p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning rounded-pill" data-toggle="modal" data-target="#exampleModalCenter">
            Acessar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Acessar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <form asp-action="Login">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="Email" class="control-label"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Senha" class="control-label"></label>
                                        <input asp-for="Senha" class="form-control" />
                                        <span asp-validation-for="Senha" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Entrar" class="btn btn-outline-dark rounded-pill" />
                                        <a class="btn btn-secondary rounded-pill" asp-controller="Home" asp-action="Index">Voltar</a>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
</div>

    <img id="img-main" class="img-fluid d-none d-sm-block d-sm-none d-md-block rounded float-end w-50" src="~/Images/pexels-jopwell-2422287.jpg" alt="" >


</section>







@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
