@model Apontei.Models.Ponto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ponto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraEntrada" class="control-label"></label>
                <input asp-for="HoraEntrada" class="form-control" />
                <span asp-validation-for="HoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraIntervaloInicial" class="control-label"></label>
                <input asp-for="HoraIntervaloInicial" class="form-control" />
                <span asp-validation-for="HoraIntervaloInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraIntervaloFinal" class="control-label"></label>
                <input asp-for="HoraIntervaloFinal" class="form-control" />
                <span asp-validation-for="HoraIntervaloFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraSaida" class="control-label"></label>
                <input asp-for="HoraSaida" class="form-control" />
                <span asp-validation-for="HoraSaida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasExtras" class="control-label"></label>
                <input asp-for="HorasExtras" class="form-control" />
                <span asp-validation-for="HorasExtras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <select asp-for="FuncionarioId" class ="form-control" asp-items="ViewBag.FuncionarioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
