@{
    ViewData["Title"] = "Index";
}

<h1>Relatórios</h1>
<hr/>

<div class="text-start">
    <ul class="nav nav-pills flex-column mb-auto">




        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empresas" asp-action="Relatorio">Empresa por Colaborador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Pontos" asp-action="Index">Cadastro de Turno</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Funcionarios" asp-action="Index">Colaboradores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Justificativas" asp-action="Index">Solicitações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RegistraPontos" asp-action="Index">Registro De Pontos</a>
        </li>
    </ul>
</div>