@model sistema_de_ponto.Models.RegistraPonto

@{
    ViewData["Title"] = "Edit";
}

<h1>Ajuste de Ponto</h1>

<h3>@Model.Funcionario.Nome</h3>
<h4>@ViewBag.DataRegistro</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group col-md-4">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <select asp-for="FuncionarioId" class="form-control" asp-items="ViewBag.FuncionarioId"></select>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="HoraEntrada1" class="control-label"></label>
                    <input type="time" asp-for="HoraEntrada1" class="form-control" />
                    <span asp-validation-for="HoraEntrada1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="HoraSaida1" class="control-label"></label>
                    <input type="time" asp-for="HoraSaida1" class="form-control" />
                    <span asp-validation-for="HoraSaida1" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-4">
                    <label asp-for="HoraEntrada2" class="control-label"></label>
                    <input type="time" asp-for="HoraEntrada2"  class="form-control" />
                    <span asp-validation-for="HoraEntrada2" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="HoraSaida2" class="control-label"></label>
                    <input type="time" asp-for="HoraSaida2"  class="form-control" />
                    <span asp-validation-for="HoraSaida2" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning rounded-pill" />
                <a class="btn btn-secondary rounded-pill" asp-action="ControlePonto">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
