@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
 

body {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
} 

h1 {
   font-weight: 700;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-radius: 50rem !important;
}

.dropdown-item:focus, .dropdown-item:hover, a.nav-link:hover {
    color: #16181b;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 50rem !important;
}

h1.especial,h2.especial, p.especial {
    font-family: 'Gloria Hallelujah', cursive !important;
}
p.especial{
    font-size:20px;
}
#btnlogout {
    min-width: auto;
}
